* {
    font-family: 'Outfit', sans-serif;
}

body {
    display: grid;
    max-height: 100vh;
    place-items: center;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg) ;
    background-repeat: repeat-x ;
    background-position: top;
}

.div-div {
    background-color: #fff;
    border-radius: 10px;
    margin: 100px;
}

.hero {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

p {
    font-size: 1rem;
}

.p1 {
    margin-top: 25px;
    text-align: center;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
}

.grid-container {
    margin-top: 25px;
    display: grid;
    gap: 5px;
}

.icon {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 75px;
}

.section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 50px;
    justify-self: left;
}

.valor {
    grid-column-start: 2;
    grid-column-end: 3;
}

.change {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    margin-top: 15px;
}

.Annual {
    margin-bottom: 10px;
}

button {
    border: 1px solid hsl(245, 75%, 52%);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 15px;
    width: 350px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 8px 16px 0 hsla(245, 75%, 52%, 0.418);
}

.button {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.Cancel {
    text-align: center;
    margin: 30px;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}
